In [66]:
import pandas as pd
import numpy as np
df=pd.read_csv("Downloads/w.csv",sep=';')

In [67]:
x=df['Weight']
x_bar=np.mean(x)

In [68]:
y=df['Price']
y_bar=np.mean(y)

In [69]:
first_eq=np.sum((x-x_bar)*(y-y_bar))
second_eq=np.sum((x-x_bar)**2)

In [70]:
coef=first_eq/second_eq

In [71]:
intercept=y_bar-(coef*x_bar)

In [72]:
coef

2.620967741935484

In [73]:
intercept

35.16129032258065

In [74]:
y1=coef*2+intercept 
y2=coef*4+intercept
y3=coef*4+intercept
y4=coef*5+intercept
y5=coef*6+intercept
y6=coef*5+intercept
y7=coef*7+intercept

In [75]:

df["prediction"]=(y1,y2,y3,y4,y5,y6,y7)
df

   Weight  Price  prediction
0       2     35   40.403226
1       4     60   45.645161
2       5     20   45.645161
3       3     50   48.266129
4       6     50   50.887097
5       5     55   48.266129
6       7     60   53.508065

# MAE

In [104]:

m1=-df['Price'][0]+y1
m2=df['Price'][1]-y2
m3=-df['Price'][2]+y3 #m1,m3,m5 normaly giving nag(-) value so me used (-) before df
m4=df['Price'][3]-y4
m5=-df['Price'][4]+y5
m6=df['Price'][5]-y6
m7=df['Price'][6]-y7
print((m1+m2+m3+m4+m5+m6+m7)/7)

8.75

# MSE

In [105]:
m1=(df['Price'][0]+y1)**2
m2=(df['Price'][1]-y2)**2
m3=(df['Price'][2]+y3)**2
m4=(df['Price'][3]-y4)**2
m5=(df['Price'][4]+y5)**2
m6=(df['Price'][5]-y6)**2
m7=(df['Price'][6]-y7)**2
print((m1+m2+m3+m4+m5+m6+m7)/7)

2924.242557975324

# Residuals

In [125]:
r1=-df['Price'][0]+df["prediction"][0]
r2=df['Price'][1]-df["prediction"][1]
r3=-df['Price'][2]+df["prediction"][2] 
r4=df['Price'][3]-df["prediction"][3]
r5=-df['Price'][4]+df["prediction"][4]
r6=df['Price'][5]-df["prediction"][5]
r7=df['Price'][6]-df["prediction"][6]

In [126]:
df["Residuals"]=[r1,r2,r3,r4,r5,r6,r7]
df["MSE"]=(2924.242,"nan",'nan','nan','nan','nan','nan')
df["MAE"]=(8.75,"nan",'nan','nan','nan','nan','nan')

In [127]:
df

   Weight  Price  prediction       MSE   MAE  Residuals
0       2     35   40.403226  2924.242  8.75   5.403226
1       4     60   45.645161       nan   nan  14.354839
2       5     20   45.645161       nan   nan  25.645161
3       3     50   48.266129       nan   nan   1.733871
4       6     50   50.887097       nan   nan   0.887097
5       5     55   48.266129       nan   nan   6.733871
6       7     60   53.508065       nan   nan   6.491935

In [128]:
df=pd.read_csv("df.csv")
df

   Weight  Price  prediction       MSE   MAE  Residuals
0       2     35   40.403226  2924.242  8.75   5.403226
1       4     60   45.645161       NaN   NaN  14.354839
2       5     20   45.645161       NaN   NaN  25.645161
3       3     50   48.266129       NaN   NaN   1.733871
4       6     50   50.887097       NaN   NaN   0.887097
5       5     55   48.266129       NaN   NaN   6.733871
6       7     60   53.508065       NaN   NaN   6.491935